<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-goal-heading" jhiTranslate="officeRestApp.goal.home.createOrEditLabel">Create or edit a Goal</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!goal.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="goal.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="officeRestApp.goal.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="goal.name" maxlength="64"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                        This field cannot be longer than 64 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="officeRestApp.goal.dateFrom" for="field_dateFrom">Date From</label>
                    <div class="input-group">
                        <input id="field_dateFrom" type="text" class="form-control" name="dateFrom" ngbDatepicker  #dateFromDp="ngbDatepicker" [(ngModel)]="goal.dateFrom"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFromDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="officeRestApp.goal.dateTo" for="field_dateTo">Date To</label>
                    <div class="input-group">
                        <input id="field_dateTo" type="text" class="form-control" name="dateTo" ngbDatepicker  #dateToDp="ngbDatepicker" [(ngModel)]="goal.dateTo"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateToDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="officeRestApp.goal.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                        [(ngModel)]="goal.version" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="officeRestApp.goal.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="goal.status" id="field_status" >
                        <option value="NEW">{{'officeRestApp.Status.NEW' | translate}}</option>
                        <option value="IN_PROGRESS">{{'officeRestApp.Status.IN_PROGRESS' | translate}}</option>
                        <option value="END">{{'officeRestApp.Status.END' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
